/*
****** MENTAL WELLNESS COLORS ******
SOOTHING LAVENDER: rgb(196,191,231);
PISTACHIO GREEN: rgb(184,216,179);
LAVENDER GREY: rgb(198,201,208);
POWDERED PINK: rgb(242,215,224);
SKY BLUE: rgb(120,171,198);

IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html { 
  background: linear-gradient(rgb(169, 159, 228),rgb(161, 216, 152),rgb(151, 167, 204),rgb(235, 165, 188),rgb(90, 160, 197)) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Merriweather', serif;
  transition: 1000ms;
}

#header-logo {
  border-radius: 15px;
  display: flex;
  font-size: 30px;
}

#title {
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  width: 50%;
  font-size: 16px;
  background-color: rgb(200, 233, 248);
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  height: auto;
  color: black;
}

#title h1 {
  border: 7px solid rgb(0,67,131);
  border-radius: 15px;
  padding: 5px;
}

#main {
  width: 0;
  height:0;
  box-shadow: none;
  margin:0;
}

main {
  min-height: 80vh;
}

#apppoint {
  width: 0;
  height:0;
  box-shadow: none;
  margin:0;
  background-color: none;
  opacity: 0%;
}

#button {
  width: 0;
  height: 0;
  box-shadow: none;
  margin: 0px;
  opacity: 0%;
}

#question {
  background-color: rgb(247, 192, 210);
  width: max-content;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0px;
}

#aspects {
  width:max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#cardarea {
  display:inline;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  transition: 1000ms;
  transform-style: preserve-3d;
  margin-left: 29%;
}

#cardarea img {
  display: inline;
  border-radius: 15px;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  position:absolute;
  margin-right: auto;
  text-align: center;
  margin-bottom: 200px;
  width: 600px;
  height: 450px;
}

#cardarea img:hover {
  cursor:pointer;
  transform: scale(1.05);
  transition: 700ms;
}