/*
****** MENTAL WELLNESS COLORS ******
SOOTHING LAVENDER: rgb(196,191,231);
PISTACHIO GREEN: rgb(184,216,179);
LAVENDER GREY: rgb(198,201,208);
POWDERED PINK: rgb(242,215,224);
SKY BLUE: rgb(120,171,198);

IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html { 
  background: linear-gradient(rgb(169, 159, 228),rgb(161, 216, 152),rgb(151, 167, 204),rgb(235, 165, 188),rgb(90, 160, 197)) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Merriweather', serif;
  transition: 1000ms;
}

#header-logo {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 30px;
  width: max-content;
  margin-bottom: 30px;
}

#title {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  width: 50%;
  font-size: 30px;
  padding: 15px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  height: auto;
}

#break {
  flex-basis: 100%;
  height: 0%;
}

#aspect-box {
  border-radius: 15px;
  column-count: 2;
  line-height: 70px;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  font-size: 20px;
  padding: 15px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  height: 150px;
}

#aspect-box button {
  border-radius: 15px;
  font-family: 'Merriweather', serif;
  background-color: rgb(242,215,224);
  border-color: rgb(242,215,224);
  box-shadow: 2px 2px 1px 0.5px rgb(82, 101, 119);
  width: 150px;
  color: rgb(0, 32, 61);
  font-weight: bold;
  font-size: 20px;
}

#aspect-box button:hover {
  cursor: pointer;
}

#phrase {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  width: 50%;
  font-size: 30px;
  padding: 15px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  height: auto;
  margin-bottom: 30px;
}

#activity-card {
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  width: 50%;
  font-size: 25px;
  padding: 15px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  height: auto;
}

#activity-card img {
  border-radius: 15px;
  width: 40%;
}

#activity-name {
  margin-bottom: 10px;
  font-size: 30px;
  background-color:rgb(242,215,224);
  width: max-content;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
}

#activity-description {
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: rgb(252, 252, 180);
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
}

#tips-obstacles {
  border-radius: 15px;
  column-count: 2;
}

#obs {
  padding: 10px;
  background-color: rgb(196,191,231);
  border-radius: 15px;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
}

#obs-title {
  font-size: 18px;
  margin-bottom: 10px;
  text-decoration: underline;
}

#tips {
  padding: 10px;
  background-color: rgb(184,216,179);
  border-radius: 15px;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
}

#tip-title {
  font-size: 18px;
  margin-bottom: 10px;
  text-decoration: underline;
}

#obs-list {
  font-size: 15px;
  line-height: 20px;
}

#tip-list {
  font-size: 15px;
  line-height: 20px;
}





