/*
****** MENTAL WELLNESS COLORS ******
SOOTHING LAVENDER: rgb(196,191,231);
PISTACHIO GREEN: rgb(184,216,179);
LAVENDER GREY: rgb(198,201,208);
POWDERED PINK: rgb(242,215,224);
SKY BLUE: rgb(120,171,198);

IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html { 
  background: linear-gradient(rgb(169, 159, 228),rgb(161, 216, 152),rgb(151, 167, 204),rgb(235, 165, 188),rgb(90, 160, 197)) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Merriweather', serif;
  transition: 1000ms;
}

#header-logo {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 30px;
  width: max-content;
  margin-bottom: 30px;
}

#title {
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  margin: auto;
  width: max-content;
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  height: 100px;
}

#break {
  flex-basis: 100%;
  height: 0%;
}
#appoint {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 20px;
  padding: 15px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  height: 150px;
}

#ment-phys {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 20px;
  padding: 15px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  height: 200px;
}