

/* 
****** PHYSICAL WELLNESS COLORS ******
YELLOW: rgb(255,255,153);
ORANGE: rgb(255,199,153);
RED-ORANGE: rgb(255,161,153);
DARK BLUE: rgb(0,67,131);
LIGHT BLUE: rgb(5,134,195);

rgb(255,255,153),rgb(255,199,153),rgb(255,161,153),rgb(0,67,131),rgb(5,134,195)

IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html { 
  background: linear-gradient(rgb(255,255,153),rgb(255,199,153),rgb(255,161,153),rgb(5,134,195),rgb(0,67,131)) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Merriweather', serif;
  transition: 1000ms;
}

#header-logo {
  border-radius: 15px;
  display: flex;
  font-size: 30px;
}

#title {
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  width: 50%;
  font-size: 16px;
  background-color: rgb(200, 233, 248);
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  height: auto;
  color: black;
}

#title h1 {
  border: 7px solid rgb(0,67,131);
  border-radius: 15px;
  padding: 5px;
}

#main {
  width: 0;
  height:0;
  box-shadow: none;
  margin:0;
}

#apppoint {
  width: 0;
  height:0;
  box-shadow: none;
  margin:0;
  background-color: none;
  opacity: 0%;
}

#button {
  width: 0;
  height: 0;
  box-shadow: none;
  margin: 0px;
  opacity: 0%;
}

#aspects {
  width:max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#question {
  background-color: rgb(255,255,153);
  width: max-content;
  padding-left: 15px;
  padding-right: 15px;
}

#cardarea {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#cardarea img {
  border-radius: 15px;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
}

#cardarea img:hover {
  cursor:pointer;
  transform: scale(1.05);
  transition: 500ms;
}