

/* 
****** PHYSICAL WELLNESS COLORS ******
YELLOW: rgb(255,255,153);
ORANGE: rgb(255,199,153);
RED-ORANGE: rgb(255,161,153);
DARK BLUE: rgb(0,67,131);
LIGHT BLUE: rgb(5,134,195);

rgb(255,255,153),rgb(255,199,153),rgb(255,161,153),rgb(0,67,131),rgb(5,134,195)

IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html { 
  background: linear-gradient(rgb(255,255,153),rgb(255,199,153),rgb(255,161,153),rgb(0,67,131),rgb(5,134,195)) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Merriweather', serif;
  transition: 1000ms;
}

#header-logo {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 30px;
  width: max-content;
  background-color: white;
}

#title {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  width: 50%;
  font-size: 30px;
  padding: 15px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  height: auto;
}

#aspect-box {
  border-radius: 15px;
  column-count: 2;
  line-height: 50px;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 20px;
  padding: 15px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  height: 150px;
}

#ment-phys {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 20px;
  padding: 15px;
  background-color: white;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  height: 200px;
}