/*
****** MENTAL WELLNESS COLORS ******
SOOTHING LAVENDER: rgb(196,191,231);
PISTACHIO GREEN: rgb(184,216,179);
LAVENDER GREY: rgb(198,201,208);
POWDERED PINK: rgb(242,215,224);
SKY BLUE: rgb(120,171,198);

****** PHYSICAL WELLNESS COLORS ******
YELLOW: rgb(255,255,153);
ORANGE: rgb(255,199,153);
RED-ORANGE: rgb(255,161,153);
DARK BLUE: rgb(0,67,131);
LIGHT BLUE: rgb(5,134,195);



*/

