
/*IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap');


html { 
  background: linear-gradient(rgb(169, 159, 228),rgb(255,255,153),rgb(0,67,131)) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Merriweather', serif;
  transition: 1000ms;
}

nav {
  /*background-color: rgb(169, 159, 228);*/
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#progress-link {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
  color:rgb(255,199,153);
  background-color: rgb(0,67,131);
  padding: 8px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  font-family: 'Signika Negative', sans-serif;
}

#progress-link:hover {
  cursor:pointer;
  transform: scale(1.2);
  transition: 500ms;
}

#header-logo {
  border-radius: 15px;
  font-size: 30px;
  width: 150px;
  margin-right: 25px;
  margin-left: 15px;
  margin-top: 15px;
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
}

#header-logo:hover {
  cursor:pointer;
  transform: scale(1.2);
  transition: 500ms;
}

#brand {
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: max-content;
  font-size: 90px;
  font-weight: bold;
  text-shadow: 5px 5px 10px rgb(0,67,131);
  height: max-content;
  color: rgb(255,199,153);
  font-family: 'Signika Negative', sans-serif;
}
/*rgb(0,67,131)*/
#title {
  width: 0;
  height:0;
}

#break {
  flex-basis: 100%;
  height: 0%;
}

#apppoint {
  border-radius: 15px;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-size: 18px;
  padding: 15px;
  background-color: rgb(200, 233, 248);
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  height: max-content;
  margin-bottom: 30px;
  border: 7px solid rgb(0,67,131);
}

#apppoint p {
  font-size: 20px;
}

#colorspan {
  color:rgb(0,67,131);
  font-weight: bold;
  background-color: rgb(250, 250, 181);
  padding: 5px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 65%;
  border: 2px solid rgb(0,67,131);
}

#main{
display: flex;
justify-content: center;
text-align: center;
margin: 30px;
width: max-content;
margin-left: auto;
margin-right: auto;
box-shadow: 3px 3px 2px 1px rgb(82,101,119);
border-radius: 10px;
padding-left: 15px;
padding-right: 15px;
color: black;
background-color: rgb(203, 197, 240);
}

#question{
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  width: max-content;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 25px;
  background-color: rgb(255,199,153);
  box-shadow: 3px 3px 2px 1px rgb(82, 101, 119);
  height: auto;
  color: rgb(0, 32, 61);
}



#buttons{
  border-radius: 15px;
  line-height: 70px;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-size: 20px;
  height: 70px;
  margin-bottom: 60px;
}


button {
  border-radius: 15px;
  font-family: 'Merriweather', serif;
  background-color: rgb(0,67,131);
  border-color: rgb(0,67,131);
  box-shadow: 2px 2px 1px 0.5px rgb(83,124,144);
  width: auto;
  color: rgb(255,199,153);
  font-weight: bold;
  font-size: 25px;
  justify-content: center;
  align-content: center;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  padding: 10px;
  font-family: 'Signika Negative', sans-serif;
}

button:hover {
  cursor: pointer;
  font-size: 30px;
  transition: 500ms;
}


  
  
  
  
  
  
  
  
  
  
  
  
  
